@import './null.scss';
@import './px_to_em.scss';

@import './button.scss';
@import './slider.scss';
@import './callback.scss';
@import './colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {

  &.lock {
    overflow: hidden;
  }
}

input {
  border-radius: 0;
  -webkit-appearance: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;

  @media screen and (max-width: 1280px) {
    font-size: 1.25vw;
  }

  @media screen and (max-width: 770px) {
    font-size: 2.1vw;
  }

  @media screen and (max-width: 576px) {
    font-size: 3.8vw;
  }
}

.container {
  max-width: em(1280);
  margin: 0 auto;
  width: 100%;
  padding: 0 em(76);

  @media screen and (max-width: 770px) {
    padding: 0 em(12);
  }

  @media screen and (max-width: 576px) {
    padding: 0 em(16);
  }
}

.content {
  flex: 1 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: $white;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: em(80);
  }

  &__logo {
    width: em(91);
    height: em(24);
    background: url(../img/logo.svg) 0 0/100% 100% no-repeat;
    z-index: 70;
    cursor: pointer;
  }

  &__nav {
    transition: all 0.3s ease-out;

    @media screen and (max-width: 770px) {
      position: fixed;
      z-index: 50;
      background: $white;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      display: flex;
      justify-content: center;
      padding-top: em(168);
    }

    @media screen and (max-width: 576px) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &.active {
      left: 0;
    }
  }

  &__list {
    display: flex;
    list-style-type: none;

    @media screen and (max-width: 770px) {
      display: block;
    }
  }

  &__link {
    margin-left: em(48);

    @media screen and (max-width: 770px) {
      margin: 0 0 em(72) 0;
      text-align: center;
    }

    @media screen and (max-width: 576px) {
      margin: 0 0 em(40) 0;
    }

    &:hover {
      & .header__text--link {
        color: $green;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__text {
    font-size: em(13);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: em(1.3);

    &--link {
      transition: all 0.3s ease-out;
      text-decoration: none;
      color: $black;

      @media screen and (max-width: 770px) {
        font-size: em(48);
      }

      @media screen and (max-width: 576px) {
        font-size: em(20);
      }
    }
  }
}

.communication {
  display: flex;
  z-index: 70;
  transition: all 0.5s ease-out;

  &--header {

    @media screen and (max-width: 576px) {
      display: none;
    }

    & .communication__phone {
      color: $black;
    }
  }

  &--footer {

    @media screen and (max-width: 576px) {
      flex-direction: column;
      align-items: center;
    }

    & .communication__callback {
      color: $white;

      @media screen and (max-width: 576px) {
        margin-top: em(24);
      }
    }

    & .communication__phone {
      color: $white;
    }
  }

  &--mobile {
    display: none;

    @media screen and (max-width: 576px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: em(40);
    }

    & .communication__text {
      font-size: em(20);
    }

    & .communication__callback {
      margin-top: em(40);
    }

    & .communication__phone {
      color: $black;
    }
  }

  &__phone {
    text-decoration: none;
    display: flex;
    align-items: center;

    &:before {
      content: '\f879';
      font-family: 'FontAwesome';
      display: inline-flex;
      width: em(24);
      height: em(24);
      margin-right: em(8);
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(228, 42, 42);
    }

    &:hover {
      color: $green;
    }
  }

  &__callback {
    font-size: inherit;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: em(40);
    background-color: transparent;

    @media screen and (max-width: 576px) {
      margin: 0;
    }

    &:before {
      content: '\f164';
      font-family: 'FontAwesome';
      display: inline-flex;
      width: em(24);
      height: em(24);
      margin-right: em(8);
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(253, 203, 65);
    }

    &:hover {
      color: $green;
    }
  }

  &__text {
    font-size: em(13);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: em(1.3);
    transition: all 0.3s ease-out;
  }
}

.burger {
  font-size: inherit;
  padding: 0;
  position: relative;
  flex: 0 0 em(40);
  height: em(40);
  background-color: $green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 70;

  @media screen and (max-width: 770px) {
    display: inline-flex;
  }

  &.active {

    & .burger__line {
      transform: scale(0);
    }

    &::before {
      top: em(19);
      transform: rotate(45deg);
    }

    &::after {
      bottom: em(19);
      transform: rotate(-45deg);
    }
  }

  &__line {
    width: em(18);
    height: em(2);
    background: $white;
    transform: scale(1);
    transition: all 0.3s ease-out;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: em(18);
    height: em(2);
    background: $white;
    transition: all 0.3s ease-out;
  }

  &::before {
    top: em(12);
  }

  &::after {
    bottom: em(12);
  }
}

.intro {
  padding-top: em(150);
  background-color: aqua;
  background: url(../img/bckg.png) 50% 40%/auto auto no-repeat;

  @media screen and (max-width: 576px) {
    padding-top: em(60);
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__item {
    width: 100%;
    display: flex;

    &--first {
      margin-top: em(80);
    }

    &--second {
      margin-top: em(48);
      justify-content: flex-end;

      @media screen and (max-width: 576px) {
        margin-top: em(30);
      }
    }

    &--third {
      margin-top: em(148);
      justify-content: space-between;

      @media screen and (max-width: 770px) {
        flex-direction: column;
      }

      @media screen and (max-width: 576px) {
        margin-top: em(64);
      }
    }
  }

  &__subtitle {
    display: flex;
    flex-direction: column;
    max-width: em(390);
    align-items: flex-end;
    margin-right: em(176);

    @media screen and (max-width: 770px) {
      margin-right: em(106);
    }

    @media screen and (max-width: 576px) {
      align-items: flex-start;
    }
  }

  &__callback {
    margin-top: em(24);
  }

  &__slogan {
    max-width: em(350);

    @media screen and (max-width: 770px) {
      margin-bottom: em(24);
    }
  }

  &__description {
    max-width: em(744);
  }

  &__text {

    &--title {
      font-weight: 600;
      font-size: em(72);
      line-height: 122%;

      @media screen and (max-width: 770px) {
        font-size: em(54);
      }

      @media screen and (max-width: 576px) {
        font-size: em(22);
      }
    }

    &--green {
      color: $green;
      font-style: italic;
    }

    &--subtitle {
      font-size: em(20);
      line-height: 160%;

      @media screen and (max-width: 770px) {
        font-size: em(18);
      }

      @media screen and (max-width: 576px) {
        font-size: em(14);
      }
    }

    &--slogan {
      font-size: em(28);
      line-height: 160%;
      font-weight: 600;

      @media screen and (max-width: 770px) {
        line-height: 143%;
      }

      @media screen and (max-width: 576px) {
        font-size: em(20);
      }
    }

    &--description {
      font-size: em(20);
      line-height: 160%;

      @media screen and (max-width: 770px) {
        font-size: em(18);
        line-height: 178%;
      }

      @media screen and (max-width: 576px) {
        font-size: em(14);
        line-height: 143%;
      }
    }
  }
}

.portfolio {
  margin-top: em(92);

  @media screen and (max-width: 576px) {
    margin-top: em(40);
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 em(-12);
  }

  &__item {
    margin: em(12);
    min-height: em(480);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: em(48);
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 576px) {
      min-height: em(280);
      padding: em(12);
    }

    &--1 {
      background-color: rgb(112, 191, 231);
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        background: url(../img/portfolio_morozov_desk.png) 0 0/100% 100% no-repeat;
        width: em(589);
        height: em(411);
        right: 0;
        bottom: 0;

        @media screen and (max-width: 770px) {
          right: em(-380);
        }

        @media screen and (max-width: 576px) {
          display: none;
        }
      }

      &::after {
        content: '';
        position: absolute;
        background: url(../img/portfolio_morozov_mobi.png) 0 0/100% 100% no-repeat;
        width: em(224);
        height: em(458);
        right: em(475);
        bottom: em(-114);

        @media screen and (max-width: 770px) {
          right: em(107);
        }

        @media screen and (max-width: 576px) {
          width: em(153);
          height: em(310);
          right: em(-30);
          bottom: em(-88);
        }
      }
    }

    &--2 {
      background-color: $green;
      flex: 1;

      @media screen and (max-width: 770px) {
        flex: auto;
        width: 100%;
      }

      &::after {
        content: '';
        position: absolute;
        background: url(../img/portfolio_agnio.png) 0 0/100% 100% no-repeat;
        width: em(224);
        height: em(458);
        right: em(-25);
        bottom: em(-64);

        @media screen and (max-width: 576px) {
          width: em(153);
          height: em(310);
          right: em(-30);
          bottom: em(-88);
        }
      }
    }

    &--3 {
      background-color: rgb(254, 209, 33);
      flex: 1;

      @media screen and (max-width: 770px) {
        flex: auto;
        width: 100%;
      }

      &::after {
        content: '';
        position: absolute;
        background: url(../img/portfolio_palisa.png) 0 0/100% 100% no-repeat;
        width: em(224);
        height: em(458);
        right: em(-25);
        bottom: em(-64);

        @media screen and (max-width: 576px) {
          width: em(153);
          height: em(310);
          right: em(-30);
          bottom: em(-88);
        }
      }
    }
  }

  &__title {
    max-width: em(336);

    @media screen and (max-width: 576px) {
      max-width: em(200);
    }
  }

  &__text {
    color: $white;

    &--title {
      font-weight: 600;
      font-size: em(24);
      line-height: 133%;

      @media screen and (max-width: 576px) {
        font-size: em(18);
      }
    }
  }
}

.services {
  margin: em(76) 0;

  @media screen and (max-width: 576px) {
    margin: em(40) 0;
  }

  &__body {
    display: flex;

    @media screen and (max-width: 770px) {
      flex-direction: column;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: em(64);

    @media screen and (max-width: 576px) {
      width: 100%;
      margin-top: em(32);
    }
  }

  &__name {
    margin-bottom: em(8);
    max-width: em(308);

    @media screen and (max-width: 576px) {
      max-width: 100%;
    }
  }

  &__text {

    &--title {
      font-weight: 600;
      font-size: em(56);
      line-height: 114%;

      @media screen and (max-width: 770px) {
        font-size: em(48);
      }

      @media screen and (max-width: 576px) {
        font-size: em(40);
      }
    }

    &--name {
      font-size: em(20);
      line-height: 160%;

      @media screen and (max-width: 770px) {
        font-size: em(18);
      }

      @media screen and (max-width: 576px) {
        font-size: em(14);
      }
    }

    &--price {
      font-weight: 600;
      font-size: em(28);
      font-style: italic;
      line-height: 143%;
      color: $green;

      @media screen and (max-width: 576px) {
        font-size: em(20);
      }
    }
  }
}

.slider {
  background-color: $green;

  &__item {
    padding: em(76) 0;
    display: flex;

    @media screen and (max-width: 770px) {
      padding: em(64) 0;
      flex-direction: column;
    }

    @media screen and (max-width: 576px) {
      padding: em(40) 0;
    }
  }

  &__title {
    margin-right: em(150);
  }

  &__review {

    @media screen and (max-width: 770px) {
      margin-top: em(92);
    }
  }

  &__description {
    margin-bottom: em(16);
  }

  &__scan {
    margin-bottom: em(32);
    cursor: pointer;
  }

  &__client {
    display: flex;
    align-items: center;
  }

  &__credentials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: em(24);
    min-height: em(60);
  }

  &__photo {
    width: em(88);
    height: em(88);
    background-color: $white;
    border-radius: 50%;

    &--01 {
      background: url(../img/slider_01.jpg) 0 0/100% 100% no-repeat;
    }

    &--02 {
      background: url(../img/slider_02.jpg) 0 0/100% 100% no-repeat;
    }

    &--03 {
      background: url(../img/slider_03.jpg) 0 0/100% 100% no-repeat;
    }
  }

  &__text {
    color: $white;

    &--title {
      font-weight: 600;
      font-size: em(56);
      line-height: 114%;

      @media screen and (max-width: 770px) {
        font-size: em(48);
      }

      @media screen and (max-width: 576px) {
        font-size: em(40);
      }
    }

    &--description {
      font-size: em(20);
      line-height: 150%;

      @media screen and (max-width: 770px) {
        font-size: em(18);
        line-height: 178%;
      }

      @media screen and (max-width: 576px) {
        font-size: em(14);
        line-height: 143%;
      }
    }

    &--scan {
      font-weight: 600;
      font-size: em(16);
      line-height: 200%;
      text-decoration-line: underline;

      @media screen and (max-width: 576px) {
        font-size: em(14);
      }
    }

    &--name {
      font-weight: 800;
      font-size: em(16);
      line-height: 150%;

      @media screen and (max-width: 576px) {
        font-size: em(14);
      }
    }

    &--job {
      font-weight: 500;
      font-size: em(16);
      line-height: 150%;

      @media screen and (max-width: 576px) {
        font-size: em(14);
      }
    }
  }

  &__paragraph {
    margin-bottom: em(5);
  }
}

.footer {
  margin-top: em(-5);
  background-color: rgb(19, 15, 38);

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: em(28) 0;

    @media screen and (max-width: 576px) {
      flex-direction: column-reverse;
    }
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 576px) {
      margin-top: em(40);
    }
  }

  &__text {
    color: $white;
    margin-bottom: em(10);

    &:last-child {
      margin-bottom: 0;
    }

    &--footer {
      color: $white;
    }
  }
}

.contacts {
  position: relative;

  &__iframe {
    width: 100%;
    height: em(608);

    @media screen and (max-width: 576px) {
      height: em(357);
    }
  }
}

.form {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;

  transform: translate(-50%, -50%);
  top: 50%;
  left: calc(50% - #{em(300)});

  & .container {
    padding: 0;

    @media screen and (max-width: 770px) {
      padding: 0 em(12);
    }
  }

  @media screen and (max-width: 770px) {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
  }

  &__body {
    margin: 0 em(-12);
  }
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bckg;
  transform: scale(0);
  transition: all 0.3s ease-out;
  transform-origin: 50% 50%;
  z-index: 2000;

  @media screen and (max-width: 770px) {
    padding: 0 em(12);
  }

  &__body {
    position: relative;
    background: $white;
    padding: em(40);

    @media screen and (max-width: 576px) {
      padding: em(16);
    }
  }

  &__title {
    margin-bottom: em(32);
  }

  &__subtitle {
    margin-bottom: em(80);
  }

  &__text {

    &--title {
      font-weight: 600;
      font-size: em(28);
      line-height: 143%;
      color: $black;

      @media screen and (max-width: 576px) {
        font-size: em(20);
      }
    }

    &--subtitle {
      font-size: em(20);
      line-height: 160%;
      color: $black;

      @media screen and (max-width: 576px) {
        font-size: em(14);
      }
    }
  }

  &.sended {
    transform: scale(1);
  }
}

.scan {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bckg;
  transform: scale(0);
  transition: all 0.3s ease-out;
  transform-origin: 50% 50%;
  z-index: 2000;

  &__item {
    display: flex;
    justify-content: center;
    position: relative;
    width: em(549);
    height: em(800);

    @media screen and (max-width: 576px) {
      width: em(382);
      height: em(564);
    }

    &--02 {
      background: url(../img/scan_02.jpg) 0 0/contain no-repeat;
    }

    &--03 {
      background: url(../img/scan_03.jpg) 0 0/contain no-repeat;
    }
  }

  &.active {
    transform: scale(1);
  }
}

.popup-callback {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bckg;
  transform: scale(0);
  z-index: 2000;
  transition: all 0.3s ease-out;
  transform-origin: 50% 50%;

  @media screen and (max-width: 770px) {
    padding: 0 em(12);
  }

  &__body {
    position: relative;
  }

  &.active {
    transform: scale(1);
  }
}

.popup-close {
  width: em(30);
  height: em(30);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: em(30);
  right: em(30);

  @media screen and (max-width: 576px) {
    top: em(15);
    right: em(15);
  }

  &:before {
    content: '\f00d';
    font-family: 'FontAwesome';
    color: $black;
    font-size: em(30);
    transition: all 0.3s ease-out;
  }

  &:hover {
    &:before {
      color: $green;
    }
  }
}